<% friends.forEach(function(friend){ %>
    <div class="col s4 m3 friend" id="<%= friend.id %>" data-value="<%= friend.username %>">
        <div class="card user-card center-align" id="<%= friend.id %>">
            <div class="content" onclick="openProfile('<%= friend.id %>')">
                <div class="person-avatar circle"
                <% if(friend.is_influencer == true){ %>
                     creator_image="{{APP_SERVICE_PATH}}/images/<%= friend.username %>.png"
                     state="gold"
                        <% } %>
                     face="<%= friend.avatar %>" color="<%= friend.avatarColor %>"
                     size="40" online="<%= friend.online %>"></div>
                <span class="<%= friend.gender %>">@<%= friend.username %></span>
            </div>
            <div class="action grey lighten-2">
                <a>
                    <i class="fa fa-lg fa-times red-text"
                       onclick="deleteModalOpen('<%= friend.id %>', '<%= friend.username %>')">
                    </i>
                </a>
                <a>
                    <i class="fa fa-lg fa-comments green-text"
                       onclick="apretaste.send({command: 'chat', data: {userId: '<%= friend.id %>'}})">
                    </i>
                </a>
            </div>
        </div>
    </div>
<% }) %>