<% blocked.forEach(function(result){ %>
    <div class="col s4 m3 blocked" id="<%= result.id %>" data-value="<%= result.username %>">
        <div class="card user-card center-align">
            <div class="content">
                <div class="person-avatar circle" face="<%= result.avatar %>" color="<%= result.avatarColor %>"
                     size="40" online="<%= result.online %>"></div>
                <span class="<%= result.gender %>">@<%= result.username %></span>
            </div>
            <div class="action grey lighten-2">
                <a>
                    <i class="fa fa-lg fa-times red-text"
                       onclick="unblockModalOpen('<%= result.id %>', '<%= result.username %>')">
                    </i>
                </a>
            </div>
        </div>
    </div>
<% }) %>