<div class="row" style="margin-top: 10px">
    <% if(friends.length > 0 && waiting.length > 0){ %>
        <div class="col s12">
            <div class="tags">
                <div class="chip tiny">
                    <i class="fa fa-user-alt"></i>
                    <%= friends.length %> <%= friends.length > 1 ? 'amigos' : 'amigo' %>
                </div>
                <div class="chip tiny">
                    <i class="fa fa-user-clock"></i>
                    <%= waiting.length %> <%= waiting.length > 1 ? 'peticiones' : 'petición' %>
                </div>
            </div>
        </div>
    <% } %>

    <% waiting.forEach(function(result){ %>
        <div class="col s4 m2">
            <div class="card user-card center-align">
                <div class="content" onclick="openProfile('<%= result.id %>')">
                    <div class="person-avatar circle" face="<%= result.avatar %>" color="<%= result.avatarColor %>"
                         size="40" online="<%= result.online %>"></div>
                    <span class="<%= result.gender %>">@<%= result.username %></span>
                </div>
                <div class="action grey lighten-2 green-text">
                    <% if(result.type == 'waitingForMe') { %>
                        <a href="#!">
                            <i class="material-icons red-text"
                               onclick="rejectModalOpen('<%= result.id %>', '<%= result.username %>')">
                                delete
                            </i>
                        </a>
                        <a href="#!">
                            <i class="material-icons"
                               onclick="acceptModalOpen('<%= result.id %>', '<%= result.username %>')">
                                person_add
                            </i>
                        </a>
                    <% }else if(result.type == 'waiting') { %>
                        <a href="#!">
                            <i class="material-icons red-text"
                               onclick="cancelRequestModalOpen('<%= result.id %>', '<%= result.username %>')">
                                delete
                            </i>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    <% }) %>

    <% friends.forEach(function(friend){ %>
        <div class="col s4 m2">
            <div class="card user-card center-align">
                <div class="content" onclick="openProfile('<%= friend.id %>')">
                    <div class="person-avatar circle" face="<%= friend.avatar %>" color="<%= friend.avatarColor %>"
                         size="40" online="<%= friend.online %>"></div>
                    <span class="<%= friend.gender %>">@<%= friend.username %></span>
                </div>
                <div class="action grey lighten-2 green-text">
                    <a href="#!">
                        <i class="material-icons red-text"
                           onclick="deleteModalOpen('<%= friend.id %>', '<%= friend.username %>')">
                            do_not_disturb_alt
                        </i>
                    </a>
                    <a href="#!">
                        <i class="material-icons"
                           onclick="apretaste.send({command: 'chat', data: {userId: '<%= friend.id %>'}})">
                            chat
                        </i>
                    </a>
                </div>
            </div>
        </div>
    <% }) %>

    <% if(friends.length == 0 && waiting.length == 0){ %>
        <p class="middle-center center grey-text">Aún no tiene amigos.</p>
    <% } %>

    <!-- SEARCH -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green" href="#!"
           onclick="openSearchModal()">
            <i class="material-icons">person_add</i>
        </a>
    </div>
</div>


<!-- MODALS -->
<div id="searchModal" class="modal bottom-sheet">
    <div class="modal-content">
        <p>Inserta un @username para enviarle una solucitud de amistad</p>
        <div class="input-field">
            <input type="text" id="search" class="validate">
            <label for="search">Username</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
        <a onclick="searchUser()" class="waves-effect waves-green btn-flat green-text modal-close">Enviar</a>
    </div>
</div>

<div id="addFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Agregar a <b class="username">@username</b> a sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend('Solicitud enviada')" class="waves-effect waves-green btn-flat green-text modal-close">Agregar</a>
    </div>
</div>

<div id="acceptFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Aceptar solicitud de amistad de <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend('Solicitud aceptada')" class="waves-effect waves-green btn-flat green-text modal-close">Aceptar</a>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>¿Esta seguro de eliminar a <b class="username">@amigo</b> de sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteFriend()" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Eliminar</a>
    </div>
</div>

<div id="rejectModal" class="modal">
    <div class="modal-content">
        <p>¿Rechazar solicitud de amistad de <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="rejectFriend('Solicitud rechazada')" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Rechazar</a>
    </div>
</div>

<div id="cancelRequestModal" class="modal">
    <div class="modal-content">
        <p>¿Cancelar solicitud de amistad para <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Atras</a>
        <a onclick="rejectFriend('Solicitud cancelada')" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Cancelar solicitud</a>
    </div>
</div>


<div id="blockModal" class="modal">
    <div class="modal-content">
        <p>¿Esta segúro de bloquear a <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="blockUser()" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Bloquear</a>
    </div>
</div>

<%- '<serviceImgPath data="{{APP_SERVICE_PATH}}/images"></serviceImgPath>' %>
