<div class="row" style="margin-top: 10px">
    <div class="col s12">
        <% for(var j in chips) { %>
            <span class="chip small tiny"><%= chips[j] %></span>
        <% } %>
        <ul class="collection one-line">
            <% for(var i in results) { var item = results[i]; %>
            <li class="collection-item avatar" data-id="<%= item.id %>">
                <div class="person-avatar circle left"
                <% if(parseInt(item.is_influencer) == 1){ %>
                     creator_image="{{APP_SERVICE_PATH}}/images/<%= item.username %>.png"
                     state="gold"
                        <% } %>
                     face="<%= item.avatar %>"
                     color="<%= item.avatarColor %>"
                     online="<%= item.online %>">
                </div>

                <span class="title">
                    <a class="<%= item.gender || 'black-text' %>" href="#!" onclick="apretaste.send({command: 'PERFIL', data:{username: '<%= item.username %>'}});">@<%= item.username %></a>
                </span>
                <p>
                    <%= item.fullName %>
                </p>
                <% if(!item.friend && !item.waiting) { %>
                    <a href="#!" class="secondary-content green-text first" onclick="addFriendModalOpen('<%= item.id %>', '<%= item.username %>')">
                        <i class="fas fa-user-plus"></i>
                    </a>
                <% } %>

                <% if(!item.friend && item.waiting) { %>
                    <a href="#!" class="secondary-content green-text first" onclick="openProfile(<%= item.id %>)">
                        <i class="fas fa-user"></i>
                    </a>
                <% } %>

                <% if(item.friend) { %>
                    <a href="#!" class="secondary-content green-text first" onclick="openChat(<%= item.id %>);">
                        <i class="fas fa-comments"></i>
                    </a>
                <% } %>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<% if(results.length == 0){ %>
    <p class="center grey-text">No se encontraron usuarios para los criterios de b&uacute;squeda proporcionados.</p>
<% } else { %>
    <% if(results.length > 1) { %>
        <p class="center grey-text">Se muestran los <%= results.length %> mejores resultados</p>
    <% } else { %>
        <p class="center grey-text">Se encotr&oacute; un solo resultado</p>
    <% } %>
<% } %>

<div class="bottom-space"></div>

<!-- SEARCH -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!"
       onclick="apretaste.send({command: 'AMIGOS BUSQUEDA', data: {}});">
        <i class="material-icons">arrow_back</i>
    </a>
</div>


<div id="addFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Agregar a <b class="username">@username</b> a sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend('Solicitud enviada')" class="waves-effect waves-green btn-flat green-text modal-close">Agregar</a>
    </div>
</div>