<div class="col s12">
    <div class="chip tiny">@<%= search.replace('@', '') %></div>
</div>

<% results.forEach(function(result){ %>
    <div class="col s4 m2">
        <div class="card user-card center-align">
            <div class="content" onclick="openProfile('<%= result.id %>')">
                <div class="person-avatar circle" face="<%= result.avatar %>" color="<%= result.avatarColor %>"
                     size="40" online="<%= result.online %>"></div>
                <span class="<%= result.gender %>">@<%= result.username %></span>
            </div>
            <div class="action grey lighten-2 green-text">
                <% if(result.relation == 'friend'){ %>
                    <a href="#!">
                        <i class="material-icons red-text"
                           onclick="deleteModalOpen('<%= result.id %>', '<%= result.username %>')">
                            delete
                        </i>
                    </a>
                    <a href="#!">
                        <i class="material-icons"
                           onclick="apretaste.send({command: 'chat', data: {userId: '<%= result.id %>', '<%= result.username %>'}})">
                            chat
                        </i>
                    </a>
                <% }else if(result.relation == 'waitingForMe') { %>
                    <a href="#!">
                        <i class="material-icons red-text"
                           onclick="rejectModalOpen('<%= result.id %>', '<%= result.username %>')">
                            delete
                        </i>
                    </a>
                    <a href="#!">
                        <i class="material-icons"
                           onclick="acceptModalOpen('<%= result.id %>', '<%= result.username %>')">
                            person_add
                        </i>
                    </a>
                <% }else if(result.relation == 'none') { %>
                    <a href="#!">
                        <i class="material-icons red-text"
                           onclick="blockModalOpen('<%= result.id %>', '<%= result.username %>')">
                            block
                        </i>
                    </a>
                    <a href="#!">
                        <i class="material-icons"
                           onclick="addFriendModalOpen('<%= result.id %>', '<%= result.username %>')">
                            person_add
                        </i>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
<% }) %>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!"
       onclick="apretaste.back()">
        <i class="material-icons">arrow_back</i>
    </a>
</div>

<% if(search.length == 0){ %>
    <p class="middle-center center grey-text">Sin resultados.</p>
<% } %>