<div class="row" style="margin-top: 10px">
    <div class="col s12">
        <div class="tags">
            <div class="chip tiny">
                <i class="fa fa-user-clock"></i>
                <span id="waitingCounter">
                    <%= waiting.length %> <%= waiting.length !== 1 ? 'peticiones' : 'petición' %>
                </span>
            </div>

            <span class="chip tiny" onclick="openSearch()">
                <i class="fas fa-search"></i>
                <span class="hide filter">
                    <input id="buscar" onkeyup="buscar()" type="" style="border: none;" onfocusout="closeSearch()">
                </span>
            </span>
        </div>
    </div>

    <div class="results">
        <% waiting.forEach(function(result){ %>
            <div class="col s4 m3 waiting" id="<%= result.id %>" data-value="<%= result.username %>">
                <div class="card user-card center-align">
                    <div class="content" onclick="openProfile('<%= result.id %>')">
                        <div class="person-avatar circle"
                        <% if(result.is_influencer == true){ %>
                             creator_image="{{APP_SERVICE_PATH}}/images/<%= result.username %>.png"
                             state="gold"
                                <% } %>
                             face="<%= result.avatar %>" color="<%= result.avatarColor %>"
                             size="40" online="<%= result.online %>"></div>
                        <span class="<%= result.gender %>">@<%= result.username %></span>
                    </div>
                    <div class="action grey lighten-2 green-text">
                        <% if(result.type == 'waitingForMe') { %>
                            <a href="#!">
                                <i class="fa fa-lg fa-times red-text"
                                   onclick="rejectModalOpen('<%= result.id %>', '<%= result.username %>')">
                                </i>
                            </a>
                            <a href="#!">
                                <i class="fa fa-user-plus green-text"
                                   onclick="acceptModalOpen('<%= result.id %>', '<%= result.username %>')">
                                </i>
                            </a>
                        <% }else if(result.type == 'waiting') { %>
                            <a href="#!">
                                <i class="fa fa-lg fa-times red-text"
                                   onclick="cancelRequestModalOpen('<%= result.id %>', '<%= result.username %>')">
                                </i>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <% if(waiting.length == 0){ %>
        <p class="middle-center center grey-text">No tiene ninguna solicitud pendiente.</p>
    <% } %>

    <!-- PAGINATION -->
    <% if(pages > 0){ %>
        <div class="center-bottom">
            <!-- If not async allowed -->
            <div class="row" id="paginationFooter" style="display: none;">
                <div class="col s12 center-align">
                    <ul class="pagination">
                        <% if(page > 1){ %>
                            <li class="waves-effect">
                                <a onclick="previousPage()">
                                    <i class="material-icons">chevron_left</i>
                                </a>
                            </li>
                        <% } %>
                        <li class="waves-effect"><%= page %> / <%= pages %></li>
                        <% if(page < pages){ %>
                            <li class="waves-effect">
                                <a onclick="nextPage()">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <!-- If loading or no more notes -->
            <p id="loadingText" class="grey-text center" style="display: none;">
                Cargando más resultados...
            </p>
        </div>
    <% } %>
</div>

<div class="bottom-space"></div>

<!-- SEARCH -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!"
       onclick="openSearchModal()">
        <i class="material-icons">person_add</i>
    </a>
</div>
